# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby dependencies
.bundle/
vendor/

# Mac files
.DS_Store

# Editor files
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.backup

# Local environment files
.env
.env.*